<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ name }}</title>
  </head>
  <body>
    <div id="app">
      <!--[if lte IE 9]>
        <div style="margin-top:30px;text-align:center;">
          <h1>您的浏览器不被支持，我们建议您尽快升级您的浏览器到最新版。</h1>
          了解原因请点击
            <a href="https://www.microsoft.com/zh-cn/WindowsForBusiness/End-of-IE-support?utm_source=jsgroup">
              对 Internet Explorer 早期版本的支持将于2016 年 1 月 12 日结束
            </a>。
          或者使用其他现代浏览器如Chrome，Firefox等。
        </div>
      <![endif]-->
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
